<head>
	<title>Michat</title>
	<meta charset="utf-8" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="expires" content="-1" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="fragment" content="!" />
	<meta name="distribution" content="global" />
	<meta name="rating" content="general" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<meta name="apple-mobile-web-app-title" content="michat">
	<meta name="application-name" content="Michat">
	<meta name="msapplication-config" content="/images/logo/browserconfig.xml?v=3">
	<meta name="theme-color" content="#4d394b">
	<link rel="canonical" href="https://michat.herokuapp.com/" />
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="/images/logo/apple-touch-icon-57x57.png" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/logo/apple-touch-icon-114x114.png" />
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/logo/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/logo/apple-touch-icon-144x144.png" />
	<link rel="apple-touch-icon-precomposed" sizes="60x60" href="/images/logo/apple-touch-icon-60x60.png" />
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/images/logo/apple-touch-icon-120x120.png" />
	<link rel="apple-touch-icon-precomposed" sizes="76x76" href="/images/logo/apple-touch-icon-76x76.png" />
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/images/logo/apple-touch-icon-152x152.png" />
	<link rel="icon" type="image/png" href="/images/logo/favicon-196x196.png" sizes="196x196" />
	<link rel="icon" type="image/png" href="/images/logo/favicon-96x96.png" sizes="96x96" />
	<link rel="icon" type="image/png" href="/images/logo/favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="/images/logo/favicon-16x16.png" sizes="16x16" />
	<link rel="icon" type="image/png" href="/images/logo/favicon-128.png" sizes="128x128" />	
	<meta name="msapplication-TileColor" content="#4d394b" />
	<meta name="msapplication-TileImage" content="/images/logo/mstile-144x144.png" />
	<meta name="msapplication-square70x70logo" content="/images/logo/mstile-70x70.png" />
	<meta name="msapplication-square150x150logo" content="/images/logo/mstile-150x150.png" />
	<meta name="msapplication-wide310x150logo" content="/images/logo/mstile-310x150.png" />
	<meta name="msapplication-square310x310logo" content="/images/logo/mstile-310x310.png" />

  <meta property="og:title" content="MiChat">
  <meta property="og:site_name" content="MiChat">
  <meta property="og:url" content="http://michat.herokuapp.com">
  <meta property="og:description" content="MiChat is an easy-to-use chat service with public channels, direct messages and private groups.">
  <meta property="og:type" content="website">
  <meta property="og:image" content="http://michat.herokuapp.com/images/logo/512x512.png" />	

</head>

<body>
</body>

<template name="main">
	{{#unless subsReady}}

	{{else}}
		{{#unless logged}}
			{{> loginLayout}}
		{{else}}
			{{removeParticles}}
			{{#unless hasUsername}}
				{{> username}}
			{{else}}
				<div id="user-card-popover"></div>
				<div id="rocket-chat" class="menu-nav menu-closed">
					<div class="connection-status">
						{{> status}}
					</div>
					<div class="main-content {{flexOpened}} {{flexOpenedRTC1}} {{flexOpenedRTC2}}">
						{{> Template.dynamic template=center}}
					</div>
					{{> sideNav }}
				</div>
				{{> audioNotification }}
			{{/unless}}
		{{/unless}}
	{{/unless}}
</template>
